[Unit]
Description=Service pour lancer podman compose up --build dans le dossier du projet
After=network.target podman.socket
Requires=podman.socket

[Service]
Type=simple
User=auditio-test
WorkingDirectory=/home/auditio-test/auditio-infra-testing
ExecStartPre=/bin/sleep 5
ExecStart=podman compose up --build
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
