[Unit]
Description=Service dynamique pour projet client {project}
After=network.target podman.socket
Requires=podman.socket

[Service]
Type=simple
User=auditio-test
WorkingDirectory={project_path}
Environment=EXTERNAL_PORT={external_port}
ExecStart={exec_start}
ExecStop={exec_stop}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
